<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Contact Us</h1>
    <p>Start learning Node JS today.</p>
  </body>
</html>
